<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <li>
          <a href="/">Home</a>
        </li>
      </div>
      <div class="item2">
        <li>
          <a href="#Mission">About</a>
        </li>
      </div>
      <div class="item3">
        <li>
          <a href="/Pastries">Foods</a>
        </li>
      </div>
      <div class="item4">
        <li>
          <a href="#Staff">Staff</a>
        </div>
        <div class="item5">
          <li>
            <a href="/location">Locations</a>
          </li>
        </div>
      </div>
      <div class="banner">
        <h1>WAGNARIA!!</h1>
        <input type="text" value="" search...."=" search....""="Search...." ""><br>
        <button type="button" value="Search...">Search</button>
      </div>
      <div class="container">
        <img src="http://sevac.studiojab.com/wp-content/uploads/2015/07/banner-working-wagnaria-03.jpg" class="wallpaper">
      </div>
      <div class="mission"
      <h2>Our entire Mission</h2>
      </div>
      <div id="Mission">
        <p>
          Our main mission is to satisfy our customers and offer a friendly, genuine connection for them when they have a hard day. We will also provide them with many of our world-renowned deserts which include Cheesecake, our five star rating, red velvet
          cake and the seasonal christmas soft-cookies we are so known for, which many of our loyal customers come for.
        </p>
        <img src="https://m.media-amazon.com/images/M/MV5BNzk4MzRmNDYtOTI0MC00MWQ3LTllZmMtNGE3YWY0MzIwNDYwXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg" class="mission-img">
        <br>
      </div>
      <div id="Staff">
      <h2>
        Meet the team
      </h2>
</div>
    </body>
  </html>
  <script src="function.js"></script>
