<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>WAGNARIA!!!</title>
  </head>
  <body>
    <div>
      <img src="http://sevac.studiojab.com/wp-content/uploads/2015/07/banner-working-wagnaria-03.jpg">
    <h1>WAGNARIA!!</h1>
      </div>
  </body>
</html>
