<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8"><title>Welcome</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <li>
          <a href="#top">Home</a>
        </li>
      </div>
      <div class="item2">
        <li>
          <a href="#About">About</a>
        </li>
      </div>
      <div class="item3">
        <li>
          <a href="#Foods">Foods</a>
        </li>
      </div>
      <div class="item4">
        <li>
          <a href="#Staff">Staff</a>
        </li>
      </div>
    </div>
    <div class="banner">
      <h1>Welcome to WAGNARIA!!</h1>
      <input type="text" value="" search...."=" search....""="Search...." ""><br>
      <button type="button" value="Search...">Search</button>
    </div>
    <div class="container">
      <img src="http://sevac.studiojab.com/wp-content/uploads/2015/07/banner-working-wagnaria-03.jpg" class="wallpaper">
    </div>
  </body>
</html>
