<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <li>Home</li>
      </div>
      <div class="item2">
        <li>About</li>
      </div>
      <div class="item3">
        <li>Foods</li>
      </div>
      <div <stron class="item4" <h1>Welcome to WAGNARIA!!</h1>
      <input type="text" value="" search...."="Search....""><br>
      <button type="button" value="Search...">Search</button>
    </div>
  </div>
  <div class="container">
    <img src="http://sevac.studiojab.com/wp-content/uploads/2015/07/banner-working-wagnaria-03.jpg">
  </div>
</body>
</html>
