<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <li>
          <a href="/">Home</a>
        </li>
      </div>
      <div class="item2">
        <li>
          <a href="/">About</a>
        </li>
      </div>
      <div class="item3">
        <li>
          <a href="/Pastries">Foods</a>
        </li>
      </div>
      <div class="item4">
        <li>
          <a href="#Staff">Staff</a>
        </div>
        <div class="item5">
          <li>
            <a href="/location">Locations</a>
          </li>
        </div>
      </div>
    <h1 class="location-title">Locations around your area</h1>
    <div class="text">
      <p>Our many locations will assist you with your needs or problems and allow you to let off all your stress. We are at the ready to serve you and fufill your hunger or even have a chat with you about many problems that occur in your life. Just as
        you're a friend AND customer to us, we're a friend and customer to you!
      </p>
    </div>
  </body>
</html>
