<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Sweets</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <li>
          <a href="/">Home</a>
        </li>
      </div>
      <div class="item2">
        <li>
          <a href="#Mission">About</a>
        </li>
      </div>
      <div class="item3">
        <li>
          <a href="/Sweets">Pastries</a>
        </li>
      </div>
      <div class="item4">
        <li>
          <a href="#Staff">Staff</a>
        </div>
        <div class="item5">
          <li>
            <a href="/location">Locations</a>
          </li>
        </div>
      </div>
      <div></div>
      <div class="pic-container">
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/6/16/0/MW0101_Pocket-Pastries-with-Raspberry-Jam_s4x3.jpg.rend.hgtvcom.826.620.suffix/1529181074639.jpeg">
        <img src="http://wewalka.us/sites/default/files/styles/recipe_banner_portrait/public/ww-blaetterteigpasteten_2905.jpg?itok=ex44bb2_">
        <img src="https://www.cscassets.com/recipes/zoom/sparks/zoom_24046.jpg">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/classic-cinnamon-rolls-horizontal-1535657907.jpg?crop=0.898xw:0.758xh;0.0595xw,0.125xh&resize=768:*">
      </div>
    </body>
  </html>
