h1 {
  font-family: Calibri;
  text-align: center;
  font-color: white;
  margin: 0px;
}

.wallpaper {
  height: 50%;
  width: 100%;
}

img {
  position: relative;
}

body{
  margin: 0;
}

.container {
  border: 2px solid black;
}

li {
  list-style-type: none;
}

.grid-container > div{
  background: red;
  padding: 0.9em;
}

.item1 {
font-family: Calibri;
font-size: 1.7em;
text-align: center;
border: 2px solid pink;
}

.item2 {
font-family: Calibri;
font-size: 1.7em;
text-align: center;
border: 2px solid pink;
}

.item3 {
font-family: Calibri;
font-size: 1.7em;
text-align: center;
border: 2px solid pink;
}

.item4 {
  font-family: Calibri;
  font-size: 1.7em;
  text-align: center;
  border: 2px solid pink;
}

.grid-container {
  display: grid;
  grid-row-gap: 10px;
  background-color: red;
  margin: 0;
  grid-auto-flow: column;
  width: 100%;
}


button {
  float: right;
  height: 30px;
  width: 150px;
}

input {
text-align: center;
padding: 10px;
width: 500px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.banner{
  background-color: #fadadd;
}

.item1:hover {
  background-color: pink;
  cursor: pointer;
}

.item2:hover {
  background-color: pink;
  cursor: pointer;
}

.item3:hover {
  background-color: pink;
  cursor: pointer;
}

.item4:hover {
  background-color: pink;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: brown;
}
