h1 {
  font-family: URW Chancery L, cursive;
  text-align: center;
  color: black;
  margin: 0px;
  position: absolute;
  top: 35%;
  z-index: 3;
}

.wallpaper {
  height: 50%;
  width: 100%;
}

img {
  position: relative;
}

body{
  margin: 0;
}

.container {
  border: 2px solid black;
}

li {
  list-style-type: none;
}

.grid-container > div{
  background: #eeee2f;
  padding: 0.9em;
}

.item1 {
font-family: URW Chancery L, cursive;
font-size: 1.5em;
text-align: center;
border: 2px solid pink;
border-bottom-color: black;
}

.item2 {
font-family: URW Chancery L, cursive;
font-size: 1.5em;
text-align: center;
border: 2px solid pink;
border-bottom-color: black;
}

.item3 {
font-family: URW Chancery L, cursive;
font-size: 1.5em;
text-align: center;
border: 2px solid pink;
border-bottom-color: black;
}

.item4 {
  font-family: URW Chancery L, cursive;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid pink;
  border-bottom-color: black;
}

.item5 {
  font-family: URW Chancery L, cursive;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid pink;
  border-bottom-color: black;
}

.grid-container {
  display: grid;
  grid-row-gap: 10px;
  background-color: red;
  margin: 0;
  grid-auto-flow: column;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 4;
}


button {
  float: right;
  height: 30px;
  width: 150px;
}

input {
text-align: center;
padding: 10px;
width: 500px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
position: absolute;
top: 200px;
z-index: 1;
}

.banner{
  background-color: red;
}

.item1:hover {
  background-color: pink;
  cursor: pointer;
}

.item2:hover {
  background-color: pink;
  cursor: pointer;
}

.item3:hover {
  background-color: pink;
  cursor: pointer;
}

.item4:hover {
  background-color: pink;
  cursor: pointer;
}

.item5:hover {
  background-color: pink;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #654321;
}

h2 {
  text-align: center;
  color: white;
}

#Mission {
  background-color: pink;
  font-family: URW Chancery L, cursive;
  font-size: 1.5em;
}

.location-title {
font-size: 2em;
}

.text {
  background-color: pink;
  font-family: URW Chancery L, cursive;
}

.team-header {
  background-color: red;
}

.mission {
  background-image: url('https://previews.123rf.com/images/perekotypole/perekotypole1605/perekotypole160500005/59184557-classic-checked-pink-watercolor-texture-watercolor-pink-checked-background-salmon-watercolor-checked.jpg');
  opacity: 50%;
  padding: 40px;
  text-align: center;
  color: red;
  font-family: URW Chancery L, cursive;
  font-size: 2em;
}

.mission-img {
  border-radius: 45%;
  align-content: center;
  width: 30%;
  height: 30%;

}

p {
  color: brown;
  float: left;
}
